{
    "presets": [
      ["env", { "modules": false }],
      "stage-0",
      "react"
    ],
    "plugins": [["import", { "libraryName": "antd", "style": "css" }],"transform-runtime", "transform-decorators-legacy",["import", { "style": "css", "libraryName": "antd-mobile" }]],  
    "comments": false,
    "env": {
      "test": {
        "presets": ["env", "stage-0"],
        "plugins": [ "istanbul" ]
      }
    }
  }